@model Web_Cobranza_Prejudicial.Models.Entities.GESTIONES

<style>


    .scrolling-table-container_Gestiones{
        height: 345px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>





<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#Gestiones_Prejudiciales">Gestiones Prejudicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#Gestiones_Judiciales">Gestiones Judiciales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#Deuda">Deuda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#Pagos">Pagos</a>
            </li>
        </ul>



        <div class="tab-content">


            <div id="Gestiones_Prejudiciales" class="tab-pane active">

                <div class="scrolling-table-container_Gestiones">
                    <table class="table table-striped table-bordered table-hover overflow-auto" style="width:100%;" name="Lista_Gestiones" id="Lista_Gestiones">

                        <thead>
                            <tr>
                                <th class="h6">#</th>
                                <th class="h6">Registro</th>
                                <th class="h6">Telefono</th>
                                <th class="h6">Responsable</th>
                                <th class="h6">Lugar</th>
                                <th class="h6">Contacto</th>
                                <th class="h6">Excusa</th>
                                <th class="h6">Fecha Promesa</th>
                                <th class="h6">Monto Promesa</th>
                                <th class="h6">Observacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Registro in Model.GESTIONES_PREJUDICIALES.ToList())
                            {
                                <tr title="@Registro.OBSERVACION">
                                    <td class="h6">@Registro.ID_GESTIONES_PREJUDICIALES</td>
                                    <td class="h6">@Registro.FECHA_REGISTRO.ToString("dd-MM-yyyy HH:mm:ss")</td>
                                    <td class="h6">@Registro.TELEFONO</td>     
                                    <td class="h6">@Registro.NOMBRE_RESPONSABLE</td>
                                    <td class="h6">@Registro.LUGAR</td>
                                    <td class="h6">@Registro.RESPUESTA_CONTACTO</td>
                                    <td class="h6">@Registro.RESPUESTA_EXCUSA</td>

                                    <td class="h6">

                                        @if (@Registro.FECHA_PROMESA.ToString("yyyyMMdd")=="19000101")
                                        {

                                        }
                                        else
                                        {

                                            @Registro.FECHA_PROMESA.ToShortDateString()
                                        }

                                    
                                    
                                    </td>



                                    <td class="h6">
                                        @if (@Registro.MONTO_PROMESA == 0)
                                        {

                                        }
                                        else
                                        {

                                            @Registro.MONTO_PROMESA.ToString("N0")
                                        }
                                       
                                        
                                    
                                    </td>
                                    <td class="h6">
                                        @{
                                            var texto = Registro.OBSERVACION ?? "";
                                            var largoCorte = 45;

                                            var primeraParte = texto.Length > largoCorte
                                            ? texto.Substring(0, largoCorte)
                                            : texto;

                                            var segundaParte = texto.Length > largoCorte
                                            ? texto.Substring(largoCorte)
                                            : "";
                                        }


                                        <p>
                                            <span href="#" title="@Registro.OBSERVACION" data-bs-toggle="collapse" data-bs-target="#Gest_@Registro.ID_GESTIONES_PREJUDICIALES" style="cursor:pointer; text-decoration: underline;">
                                                @primeraParte
                                            </span><span id="Gest_@Registro.ID_GESTIONES_PREJUDICIALES" class="collapse">@segundaParte</span>
                                        </p>
                                
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>



            <div id="Gestiones_Judiciales" class="tab-pane fade">

                <div class="scrolling-table-container_Gestiones">

                    <table class="table table-striped table-bordered table-hover overflow-auto" style="width:100%;" name="Lista_Gestiones_Jud" id="Lista_Gestiones_Jud">

                        <thead>
                            <tr>
 
                                <th class="h6">#</th>
                                <th class="h6">Fecha Registro</th>
                                <th class="h6">Responsable</th>
                                <th class="h6">Contacto</th>
                                <th class="h6">Excusa</th>
                                <th class="h6">Observacion</th>
                                <th class="h6">Tipo Gestion</th>
                                <th class="h6">Fecha Diligencia</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var jud in Model.GESTIONES_JUDICIALES.ToList())
                            {



                                <tr title="@jud.OBSERVACION">
                                    <td class="h6">@jud.ID_GESTIONES_JUDICIALES</td>
                                    <td class="h6">@jud.FECHA_REGISTRO.ToString("dd-MM-yyyy HH:mm:ss")</td>
                                    <td class="h6">@jud.NOMBRE_RESPONSABLE</td>
                                    <td class="h6">@jud.RESPUESTA_CONTACTO</td>
                                    <td class="h6">@jud.RESPUESTA_EXCUSA</td>

                                    <td class="h6">
                                        @{
                                            var textoj = jud.OBSERVACION ?? "";
                                            var largoCortej = 50;

                                            var primeraParte = textoj.Length > largoCortej
                                            ? textoj.Substring(0, largoCortej)
                                            : textoj;

                                            var segundaParte = textoj.Length > largoCortej
                                            ? textoj.Substring(largoCortej)
                                            : "";
                                        }

                                        <p>
                                            <span href="#" title="@jud.OBSERVACION" data-bs-toggle="collapse" data-bs-target="#GestJ_@jud.ID_GESTIONES_JUDICIALES" style="cursor:pointer; text-decoration: underline;">
                                                @primeraParte
                                            </span><span id="GestJ_@jud.ID_GESTIONES_JUDICIALES" class="collapse">@segundaParte</span>
                                        </p>

                                    </td>
                                    <th class="h6">@jud.TIPO_GESTION</th>
                                    <td class="h6">

                                        @if (@jud.FECHA_DILIGENCIA.ToString("yyyyMMdd") == "19000101")
                                        {

                                        }
                                        else
                                        {

                                            @jud.FECHA_DILIGENCIA.ToShortDateString()
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>


            </div>



            <div id="Deuda" class="tab-pane fade">

                <div class="scrolling-table-container_Gestiones">



                    <table class="table table-striped table-bordered table-hover overflow-auto" style="width:100%;" name="Lista_Deudas_Ges" id="Lista_Deudas_Ges">

                        <thead>
                            <tr>

                                <th class="h6">#</th>
                                <th class="h6">Folio</th>
                                <th class="h6">F. Vencimiento</th>
                                <th class="h6">Valor</th>
                                <th class="h6">Facultad</th>
                                <th class="h6">Sede</th>
                                <th class="h6">Motivo</th>
                                <th class="h6">Fecha</th>
                                <th class="h6">Nro. Juicio</th>
                                <th class="h6">Rut alumno</th>
                                <th class="h6">Nombre Alumno</th>
                                <th class="h6">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Deu in Model.DEUDAS.ToList())
                            {
                                
                                <tr>
                                        <td class="h6">@Deu.ID_DEUDA</td>
                                        <td class="h6">@Deu.FOLIO</td>
                                        <td class="h6">@Deu.FECHA_VENCIMIENTO.ToShortDateString()</td>
                                        <td class="h6">@Deu.VALOR.ToString("N0")</td>
                                        <td class="h6">@Deu.FACULTAD</td>
                                        <td class="h6">@Deu.SEDE</td>
                                        <td class="h6">@Deu.MOTIVO</td>
                                        <td class="h6">@Deu.FECHA_CARGA.ToShortDateString()</td>

                                        @if (@Deu.NRO_JUICIO == 0)
                                        {
                                            <td class="h6"></td>
                                        }
                                        else
                                        {
                                            <td class="h6">@Deu.NRO_JUICIO</td>
                                        }


                                        @if (@Deu.RUT_ALUMNO == 0)
                                        {
                                            <td class="h6"></td>
                                        }
                                        else
                                        {
                                            <td class="h6">@Deu.RUT_ALUMNO.ToString("N0")-@Deu.DV_ALUMNO</td>
                                        }
 
                                        <td class="h6">@Deu.NOMBRE_ALUMNO</td>


                                        @if (@Deu.ESTADO_DEUDA == "PENDIENTE")
                                        {
                                        <td class="h6 bg-success">@Deu.ESTADO_DEUDA</td>
                                        }
                                        else
                                        {
                                            <td class="h6 bg-danger">@Deu.ESTADO_DEUDA</td>
                                        }


                                   
  
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>




            </div>

            <div id="Pagos" class="tab-pane fade">
                <div class="scrolling-table-container_Gestiones">


                    <table class="table table-striped table-bordered table-hover overflow-auto" style="width:100%;" name="Lista_Pagos_Ges" id="Lista_Pagos_Ges">

                        <thead>
                            <tr>

                                <th class="h6">#</th>
                                <th class="h6">Monto </th>
                                <th class="h6">Fecha</th>
                                <th class="h6">Tipo</th>
     
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var Pag in Model.PAGOS.ToList())
                            {
                                <tr>
                                    <td class="h6">@Pag.ID_PAGO</td>
                                    <td class="h6">@Pag.MONTO_PAGO</td>
                                    <td class="h6">@Pag.FECHA_PAGO</td>
                                    <td class="h6">@Pag.TIPO_PAGO</td>
                                </tr>
                           
                            }

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>


