@model Web_Cobranza_Prejudicial.Models.Entities.INFORMACION


<style>
    .scrolling-table-container_Alertas {
        height: 80px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .scrolling-table-container_Campañas {
        height: 80px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .scrolling-table-container_Datos_Demograficos {
        height: 170px;
        overflow-y: scroll;
        overflow-x: hidden;
    }


</style>



<div class="row">
    <div class="col-sm-3">

        <div class="card" style="height: 260px;font:10px;">
            <div class="card-body">
                <h5 class="card-title">Datos Personales</h5>
 
                <p class="card-text">
                Mandante: <strong>@Model.DATOS_PERSONALES.NOMBRE_MANDANTE</strong> <br />
                    Nombre: <strong>@Model.DATOS_PERSONALES.NOMBRE_TUTOR</strong> <br />
                    Rut Tutor: <strong>@Model.DATOS_PERSONALES.RUT_TUTOR.ToString("N0")-@Model.DATOS_PERSONALES.DV_TUTOR</strong> <br />
                    Nombre Alumno: <strong>@Model.DATOS_PERSONALES.NOMBRE_ALUMNO</strong> <br />
                    Rut Alumno:
                    @if (Model.DATOS_PERSONALES.RUT_ALUMNO > 0)
                    {
                    <strong>
                        @($"{Model.DATOS_PERSONALES.RUT_ALUMNO:N0}-{Model.DATOS_PERSONALES.DV_ALUMNO}")
                    </strong>
                    }<br />
                    Estado Juicio: <strong>@Model.DATOS_PERSONALES.ESTADO_JUICIO</strong><br />
                    Estado Gestion: <strong>@Model.DATOS_PERSONALES.ESTADO_GESTION</strong> 

            </div>
        </div>

    </div>

    <div class="col-sm-3">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Alertas</h5>
                <div class="scrolling-table-container_Alertas">
                    Sin Alertas.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Campañas</h5>
                <div class="scrolling-table-container_Campañas">
                    Sin Campañas.
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-6">
        <div class="card" style="height: 260px;">
            <div class="card-body">
                <h5 class="card-title">Información de Contacto</h5>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#Telefonos">Telefonos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Email">Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Direcciones">Direcciones</a>
                    </li>
                </ul>



                <div class="tab-content">

                    @* ---------------------------------------------------------------------------------- *@
                    @* ---------------------------------TELEFONOS---------------------------------------- *@
                    @* ---------------------------------------------------------------------------------- *@
                    <div id="Telefonos" class="tab-pane active">


                        <div class="scrolling-table-container_Datos_Demograficos">

                            <table class="table table-striped table-bordered table-hover overflow-auto" name="Lista_Telefonos" id="Lista_Telefonos" style="font-size:10px;">

                                <thead>
                                    <tr>
                                        <th>Fono</th>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>CD</th>
                                        <th>CI</th>
                                        <th>SC</th>
                                        <th>Contactabilidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Tel in Model.TELEFONOS.ToList())
                                    {
                                        <tr title="@Tel.OBSERVACION">
                                            <th><strong>@Tel.TELEFONO</strong> </th>
                                            <th>@Tel.FECHA_ACTUALIZACION.ToString("dd-MM-yyyy HH:mm:ss")</th>


                                            @if (@Tel.ESTADO_TELEFONO == "VALIDO")
                                            {
                                                <th> <span class="badge bg-success">&nbsp;</span> &nbsp;@Tel.ESTADO_TELEFONO</th>
                                            }
                                            else if (@Tel.ESTADO_TELEFONO == "NO CONFIRMADO")
                                            {

                                                <th><span class="badge bg-warning">&nbsp;</span>&nbsp;@Tel.ESTADO_TELEFONO</th>
                                            }
                                            else
                                            {
                                                <th><span class="badge bg-danger">&nbsp;</span>&nbsp;@Tel.ESTADO_TELEFONO</th>
                                            }

                                         


                                            <th>@Tel.C_CD</th>
                                            <th>@Tel.C_CI</th>
                                            <th>@Tel.C_SC</th>
                                            <th>

                                                @if (Tel.ESTADO_TELEFONO == "ERRADO")
                                                {
                                                    <div class="progress">
                                                            <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" style="width:@Tel.CONTACTABILIDAD.ToString()%">@Tel.CONTACTABILIDAD %</div>
                                                    </div>
           
                                                }
                                                else
                                                {
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:@Tel.CONTACTABILIDAD.ToString()%">@Tel.CONTACTABILIDAD %</div>
                                                    </div>

                                                }

                                          



                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>


                    </div>


                    @* ---------------------------------------------------------------------------------- *@
                    @* ---------------------------------EMAIL-------------------------------------------- *@
                    @* ---------------------------------------------------------------------------------- *@
                    <div id="Email" class="tab-pane">

                        <div class="scrolling-table-container_Datos_Demograficos">

                            <table class="table table-striped table-bordered table-hover overflow-auto" name="Lista_Telefonos" id="Lista_Telefonos" style="font-size:10px;">

                                <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Fecha</th>
                                        <th>Estado</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Ema in Model.EMAILS.ToList())
                                    {
                                        <tr>
                                            <th title="@Ema.ID_EMAIL"><strong>@Ema.EMAIL</strong></th>
                                            <th>@Ema.FECHA_ACTUALIZACION.ToString("dd-MM-yyyy HH:mm:ss")</th>
                                            <th>@Ema.ESTADO_EMAIL</th>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>


                    </div>


                    @* ---------------------------------------------------------------------------------- *@
                    @* ---------------------------------DIRECCIONES-------------------------------------- *@
                    @* ---------------------------------------------------------------------------------- *@
                    <div id="Direcciones" class="tab-pane">

                        HOLA MUNDO DIRECCIONES

                    </div>


                </div>


            </div>
        </div>
    </div>






</div>

