@model Web_Cobranza_Prejudicial.Models.Entities.INFORMACION


<style>
    .scrolling-table-container_Datos_Demograficos {
        height: 150px;
        overflow-y: scroll;
        overflow-x: hidden;
    }


</style>



<div class="row">
    <div class="col-sm-3">

        <div class="card" style="height: 200px;font:10px;">
            <div class="card-body">
                <h5 class="card-title">Datos Personales</h5>
                <hr>
                <p class="card-text">
                    Mandante: <strong>@Model.DATOS_PERSONALES.NOMBRE_MANDANTE</strong> <br />
                    Nombre: <strong>@Model.DATOS_PERSONALES.NOMBRE_TUTOR</strong> <br />
                    Rut Tutor: <strong>@Model.DATOS_PERSONALES.RUT_TUTOR.ToString("N0")-@Model.DATOS_PERSONALES.DV_TUTOR</strong> <br />
                    Nombre Alumno: <strong>@Model.DATOS_PERSONALES.NOMBRE_ALUMNO</strong> <br />
                    Rut Alumno:
                    @if (Model.DATOS_PERSONALES.RUT_ALUMNO > 0)
                    {
                    <strong>
                        @($"{Model.DATOS_PERSONALES.RUT_ALUMNO:N0}-{Model.DATOS_PERSONALES.DV_ALUMNO}")
                    </strong>
                    }<br />
                    Estado Juicio: <strong>@Model.DATOS_PERSONALES.ESTADO_JUICIO</strong><br />
                    Estado Gestion: <strong>@Model.DATOS_PERSONALES.ESTADO_GESTION</strong> <br />
                    Fecha Ultimo Pago :
                    @if (Model.DATOS_PERSONALES.FECHA_ULTIMO_PAGO.ToString("dd-MM-yyyy") != "01-01-1900")
                    {
                        <strong>@Model.DATOS_PERSONALES.FECHA_ULTIMO_PAGO.ToString("dd-MM-yyyy")</strong>
                    }
            </div>
        </div>

    </div>

    <div class="col-sm-3">

        <div class="card" style="height: 100px;font:10px;">
            <div class="card-body">
                <h5 class="card-title">Alertas</h5>
       

                @{
                    var alerta = Model.ALERTAS.FirstOrDefault();
                }

                @if (alerta != null)
                {
                    <div class="progress" style="height:30px">

                        @if (alerta.TIPO_ALERTA == 1)
                        {
                            <div class="btn progress-bar bg-danger text-start" style="width:100%; padding-left:10px;" onclick="Funcion_CargarModalAlertas()" data-bs-toggle="modal" data-bs-target="#MODAL_READ_ALERTAS">
                                @alerta.TITULO_ALERTA - @alerta.MENSAJE_ALERTA
                            </div>
                        }
                        else if (alerta.TIPO_ALERTA == 2)
                        {
                            <div class="btn progress-bar bg-warning text-start" style="width:100%; padding-left:10px;" onclick="Funcion_CargarModalAlertas()" data-bs-toggle="modal" data-bs-target="#MODAL_READ_ALERTAS">
                                @alerta.TITULO_ALERTA - @alerta.MENSAJE_ALERTA
                            </div>
                        }
                        else
                        {
                            <div class="btn progress-bar bg-success text-start" style="width:100%; padding-left:10px;" onclick="Funcion_CargarModalAlertas()" data-bs-toggle="modal" data-bs-target="#MODAL_READ_ALERTAS">
                                @alerta.TITULO_ALERTA - @alerta.MENSAJE_ALERTA
                            </div>
                        }

                    </div>
                }


            </div>
        </div>

        <div class="card" style="height: 100px;font:10px;">
            <div class="card-body">
                <h5 class="card-title">Campañas</h5>
                @{
                    var i = Model.OFERTAS.FirstOrDefault();
                }

                @if (i != null)
                {
                    var texto = i.DESCRIPCION ?? string.Empty;
                    var textoCorto = texto.Length > 30 ? texto.Substring(0, 30) + "..." : texto;
                    var clase = i.PRIORIDAD == 1 ? "bg-success" : "bg-secondary";

                    <div class="progress" style="height:30px">
                        <div class="btn progress-bar @clase progress-bar-striped progress-bar-animated"
                             title="@texto"
                             style="width:100%; text-align:left; padding-left:10px;"
                             data-bs-placement="bottom"
                             onclick="Funcion_CargarModalCampañas()" data-bs-toggle="modal" data-bs-target="#MODAL_READ_CAMPAÑAS">
                            <strong>
                                (Fin. @i.FECHA_FIN_CAMPAÑA.ToString("dd/MM/yyyy"))
                                @textoCorto
                            </strong>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>

    <div class="col-sm-6">
        <div class="card" style="height: 200px;">
            <div class="card-body">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#Telefonos">Telefonos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Email">Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Direcciones">Direcciones</a>
                    </li>
                </ul>



                <div class="tab-content">

                    @* ---------------------------------------------------------------------------------- *@
                    @* ---------------------------------TELEFONOS---------------------------------------- *@
                    @* ---------------------------------------------------------------------------------- *@
                    <div id="Telefonos" class="tab-pane active">


                        <div class="scrolling-table-container_Datos_Demograficos">

                            <table class="table table-striped table-bordered table-hover overflow-auto" name="Lista_Telefonos" id="Lista_Telefonos" style="font-size:10px;">

                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Fono</th>
                                        <th>Fecha</th>

                                        <th>CD</th>
                                        <th>CI</th>
                                        <th>SC</th>
                                        <th>Contactabilidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Tel in Model.TELEFONOS.ToList())
                                    {
                                        <tr title="@Tel.OBSERVACION">

                                                @if (@Tel.ESTADO_TELEFONO == "VALIDO")
                                                {
                                                    <th> <span class="badge bg-success btn" onclick="Funcion_CargarModEstadoTelefono(@Tel.ID_TELEFONO,'@Tel.ESTADO_TELEFONO','@Tel.TELEFONO')" data-bs-toggle="modal" data-bs-target="#MODAL_ESTADO_TELEFONO"><img title="Modificar Telefono" src="~/img/btngrabargestion.svg" width="8px;" height="8px;" /></span> &nbsp;@Tel.ESTADO_TELEFONO</th>
                                                }
                                                else if (@Tel.ESTADO_TELEFONO == "NO CONFIRMADO")
                                                {

                                                    <th><span class="badge bg-warning btn" onclick="Funcion_CargarModEstadoTelefono(@Tel.ID_TELEFONO,'@Tel.ESTADO_TELEFONO','@Tel.TELEFONO')" data-bs-toggle="modal" data-bs-target="#MODAL_ESTADO_TELEFONO"><img title="Modificar Telefono" src="~/img/btngrabargestion.svg" width="8px;" height="8px;" /></span>&nbsp;@Tel.ESTADO_TELEFONO</th>
                                                }
                                                else
                                                {
                                                    <th><span class="badge bg-danger btn" onclick="Funcion_CargarModEstadoTelefono(@Tel.ID_TELEFONO,'@Tel.ESTADO_TELEFONO','@Tel.TELEFONO')" data-bs-toggle="modal" data-bs-target="#MODAL_ESTADO_TELEFONO"><img title="Modificar Telefono" src="~/img/btngrabargestion.svg" width="8px;" height="8px;" /></span>&nbsp;@Tel.ESTADO_TELEFONO</th>
                                                }

                                            <th>
                                                @if (DateTime.Now <= @Tel.FECHA_ACTUALIZACION.AddDays(10))
                                                {
                                                        @Tel.TELEFONO
                                                        

                                                        <span class="badge bg-success">Nuevo</span>
                                                }
                                                else
                                                {
                                                        @Tel.TELEFONO
                                                }

      
                                            </th>


                                            <th>@Tel.FECHA_ACTUALIZACION.ToString("dd-MM-yyyy HH:mm:ss")</th>
                                            <th>@Tel.C_CD</th>
                                            <th>@Tel.C_CI</th>
                                            <th>@Tel.C_SC</th>
                                            <th>

                                                @if (Tel.ESTADO_TELEFONO == "ERRADO")
                                                {
                                                    <div class="progress">
                                                            <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" style="width:@Tel.CONTACTABILIDAD.ToString()%">@Tel.CONTACTABILIDAD %</div>
                                                    </div>
           
                                                }
                                                else
                                                {
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:@Tel.CONTACTABILIDAD.ToString()%">@Tel.CONTACTABILIDAD %</div>
                                                    </div>

                                                }

                                          



                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>


                    </div>


                    @* ---------------------------------------------------------------------------------- *@
                    @* ---------------------------------EMAIL-------------------------------------------- *@
                    @* ---------------------------------------------------------------------------------- *@
                    <div id="Email" class="tab-pane">

                        <div class="scrolling-table-container_Datos_Demograficos">

                            <table class="table table-striped table-bordered table-hover overflow-auto" name="Lista_Telefonos" id="Lista_Telefonos" style="font-size:10px;">

                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Email</th>
                                        <th>Fecha</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Ema in Model.EMAILS.ToList())
                                    {
                                        <tr>

                                            @if (@Ema.ESTADO_EMAIL == "VALIDO")
                                            {
                                                    <th> <span class="badge bg-success btn" onclick="Funcion_CargarModEstadoEmail(@Ema.ID_EMAIL,'@Ema.ESTADO_EMAIL','@Ema.EMAIL')" data-bs-toggle="modal" data-bs-target="#MODAL_ESTADO_EMAIL"><img title="Modificar Email" src="~/img/btngrabargestion.svg" width="8px;" height="8px;" /></span>&nbsp;@Ema.ESTADO_EMAIL</th>
                                            }
                                            else if (@Ema.ESTADO_EMAIL == "NO CONFIRMADO")
                                            {

                                                    <th><span class="badge bg-warning  btn" onclick="Funcion_CargarModEstadoEmail(@Ema.ID_EMAIL,'@Ema.ESTADO_EMAIL','@Ema.EMAIL'))" data-bs-toggle="modal" data-bs-target="#MODAL_ESTADO_EMAIL"><img title="Modificar Email" src="~/img/btngrabargestion.svg" width="8px;" height="8px;" /></span>&nbsp;@Ema.ESTADO_EMAIL</th>
                                            }
                                            else
                                            {
                                                    <th><span class="badge bg-danger  btn" onclick="Funcion_CargarModEstadoEmail(@Ema.ID_EMAIL,'@Ema.ESTADO_EMAIL','@Ema.EMAIL'))" data-bs-toggle="modal" data-bs-target="#MODAL_ESTADO_EMAIL"><img title="Modificar Email" src="~/img/btngrabargestion.svg" width="8px;" height="8px;" /></span>&nbsp;@Ema.ESTADO_EMAIL</th>
                                            }
                                            <th title="@Ema.ID_EMAIL"><strong>@Ema.EMAIL</strong></th>
                                            <th>@Ema.FECHA_ACTUALIZACION.ToString("dd-MM-yyyy HH:mm:ss")</th>

                                        
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>


                    </div>


                    @* ---------------------------------------------------------------------------------- *@
                    @* ---------------------------------DIRECCIONES-------------------------------------- *@
                    @* ---------------------------------------------------------------------------------- *@
                    <div id="Direcciones" class="tab-pane">





                        <div class="scrolling-table-container_Datos_Demograficos">

                            <table class="table table-striped table-bordered table-hover overflow-auto" name="Lista_Telefonos" id="Lista_Telefonos" style="font-size:10px;">

                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Direccion</th>
                                        <th>Comuna</th>
                                        <th>Region</th>
                                        <th>Fecha</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var dir in Model.DIRECCIONES.ToList())
                                    {
                                        <tr>

                                            @if (@dir.ESTADO_DIRECCION == "VALIDO")
                                            {
                                                    <th> <span class="badge bg-success btn" onclick="Funcion_CargarModEstadoDireccion(@dir.ID_DIRECCION,'@dir.ESTADO_DIRECCION','@dir.DIRECCION','@dir.COMUNA')" data-bs-toggle="modal" data-bs-target="#MODAL_ESTADO_DIRECCION"><img title="Modificar Direccion" src="~/img/btngrabargestion.svg" width="8px;" height="8px;" /></span> &nbsp;@dir.ESTADO_DIRECCION</th>
                                            }
                                            else if (@dir.ESTADO_DIRECCION == "NO CONFIRMADO")
                                            {

                                                    <th><span class="badge bg-warning btn" onclick="Funcion_CargarModEstadoDireccion(@dir.ID_DIRECCION,'@dir.ESTADO_DIRECCION','@dir.DIRECCION','@dir.COMUNA')" data-bs-toggle="modal" data-bs-target="#MODAL_ESTADO_DIRECCION"><img title="Modificar Direccion" src="~/img/btngrabargestion.svg" width="8px;" height="8px;" /></span>&nbsp;@dir.ESTADO_DIRECCION</th>
                                            }
                                            else
                                            {
                                                    <th><span class="badge bg-danger btn" onclick="Funcion_CargarModEstadoDireccion(@dir.ID_DIRECCION,'@dir.ESTADO_DIRECCION','@dir.DIRECCION','@dir.COMUNA')" data-bs-toggle="modal" data-bs-target="#MODAL_ESTADO_DIRECCION"><img title="Modificar Direccion" src="~/img/btngrabargestion.svg" width="8px;" height="8px;" /></span>&nbsp;@dir.ESTADO_DIRECCION</th>
                                            }
                                            <th title="@dir.DIRECCION"><strong>@dir.DIRECCION</strong></th>
                                            <th>@dir.COMUNA</th>
                                            <th>@dir.REGION (@dir.NUM_REGION)</th>
                                            <th>@dir.FECHA_ACTUALIZACION.ToString("dd-MM-yyyy HH:mm:ss")</th>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>



                    </div>


                </div>


            </div>
        </div>
    </div>






</div>

